/* roboto-100 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-100italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* общие стили страницы */

html,
body {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

li {
    list-style-type: none; /* Убираем маркеры */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

/* header */

header {
    background-color: #fbfbfb;
}

.center {
    text-align: center;
}

.block-info div ul {
    margin: 0;
}

.block-info div ul li i {
    margin-right: 15px;
}

.block-info__copy {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #eeeeee;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), rgb(58, 48, 82));
}

.social {
    width: 193px;
    height: 30px;
}

area {
    outline: none;
}

.fas {
    color: #f12fa0;
}

header .header-title {
    display: flex;
    background-color: #fbfbfb;
}

.header-title__button_solid {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #eee;
    background-color: #fb4c18;
    margin-top: 15px;
    border: none;
    outline: 0px solid #fb4c18;
    text-decoration: none;
    cursor: pointer;
}

.header-title__button_solid:focus {
    outline: 4px solid #ec6331;
}

.header-title__button_solid:hover {
    color: #fff;
}

.section__button_solid {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #eee;
    background-color: #fb4c18;
    margin-top: 15px;
    border: none;
    outline: 0px solid #fb4c18;
    text-decoration: none;
    cursor: pointer;
}

.section__button_solid:focus {
    outline: 4px solid #ec6331;
}

.section__button_solid:hover {
    color: #fff;
}

.top-menu__list_menu li a {
    color: #333;
    text-decoration: none;
}

.header-title_content {
    width: 100%;
    z-index: 1;    
}

.top-menu__button_burger-menu {
    background: none;
    display: inline-block;
    padding: 3px;
}

.top-menu__button_burger-menu>div:nth-child(1) {
    margin: 3px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff1d80, #ff0078);
}

.top-menu__button_burger-menu>div:nth-child(2) {
    margin: 8px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff751d, #ff0078);
}

.top-menu__button_burger-menu>div:nth-child(3) {
    margin: 8px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff751d, rgb(255, 118, 38));
}

.section__text_title {
    font-family: "Roboto", sans-serif;
}

.section__text_title__image {
    display: inline-block;
    width: 360px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #8993ad;
}

.header-title__span_description-title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #8993ad;
}

.section-gradient__span_description-title::before {
    content: "*";
    float: left;
    width: 15px;
    height: 100px;
}



.button_call {
    cursor: pointer;
}

#windows {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transform: initial;
}

#popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    transform: initial;
}

.popup {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    background: #ffffff;
    z-index: 100;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 3px 10px -3px #333;
}

.popup-content {
    padding: 25px 10px 10px 10px;
    transform: initial;
}

.input {
    width: calc(100% - 30px);
    color: #000;
    background: #f5f5f5;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
}

p {
    margin: 0;
    font-family: sans-serif;
}

.send {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #ff543a;
    padding: 10px 15px;
    margin: 10px 0 0px 0;
    font-size: 16px;
    border: none;
    outline: none;
    text-decoration: none;
}

.send:focus,
.send:active,
.close:focus,
.close:active {
    outline: none;
    box-shadow: 0 0 2px 1px #f12f9f;
}

.close {
    position: absolute;
    right: 0;
    padding: 10px 13px 10px 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
}

.close:hover {
    text-shadow: 0 2px 5px #bdbdbd;
    color: #ff543a;
}

#burger-menu {
    cursor: pointer;
}

.show-mobile-menu {
    position: absolute;
    height: 100vh !important;
    opacity: 1 !important;
    padding-top: 30px;
}

/*  */

.top-menu__button_call {
    float: right;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    color: #fb4c18;
    background-color: #ffffff;
    border: 1px solid #fb4c18;
}

.top-menu__button_call:focus {
    outline: 4px solid #ec6331;
}

.top-menu__button_call:hover {
    color: #fb4c18;
}

/*  */

.section__slider {
    max-width: 1200px;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-dots li.slick-active button:before {
    color: #fb4b18 !important;
}

.slick-dots li button:before {
    font-size: 18px !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev::before {
    content: '';
    z-index: 1;
    padding: 20px !important;
    color: transparent !important;
    background: url("../img/arrow.png") !important;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.slick-next::before {
    content: '';
    transform: rotateZ(180deg) !important;
    padding: 20px !important;
    color: transparent !important;
    background: url("../img/arrow.png") !important;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

/*  */

#portfolio {
    background-color: #fbfbfb;
}



/* Летающие теги */

.flat-elements-top span {
    position: absolute;
    transition: 1s;
    cursor: default;
    background: linear-gradient(30deg, #f35c2c, #fa098f);
    background: -webkit-linear-gradient(left, #f35c2c 0%, #fa098f 30%);
    background: -o-linear-gradient(left, #f35c2c 0%, #fa098f 30%);
    background: -ms-linear-gradient(to right, #f35c2c 0%, #fa098f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.flat-elements-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: transparent;
    /* overflow: hidden; */
}

.flat-elements-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 600;    
    pointer-events: none;
}

.flat-elements-bottom span {
    position: absolute;
    color: #ffffff;
    transition: 1s;
}

/*  */



@media (max-width: 599px) {
    /* header */

    .top-menu__link_tel {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color: #333;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 28px;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .top-menu__button_call_m {
        float: right;
        margin-top: 26px;
        margin-right: 22px;
        padding: 5px;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: #333;
    }

    .header-title__span_description-title {
        font-size: 16px;
        padding: 0 15px;
    }

    /* секции */
    
    .section-gradient__text {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
        margin: 0 0 30px 0;
        line-height: 40px;
    }

    .section-gradient__span_description-title h2 {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 16px;
        padding: 30px 0;
        line-height: 30px;
    }

    .section_container {
        padding: 45px 10px 50px 10px;
        text-align: center;
    }

    .header-title__button_solid {
        font-size: 16px;
        padding: 20px 80px;
    }

    .section__button_solid {
        font-size: 16px;
        padding: 22px 80px;
    }

    .section__text_title {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .section__block_dolist {
        text-align: center;
        max-width: 670px;
        margin: 20px auto;
    }

    .section_block__dolist-image {
        width: 257px;
        padding: 0;
        margin: 15px 10px 25px 10px;
        display: inline-block;
    }

    .section_block__dolist-image img {
        width: 60px;
    }

    .section_block__dolist-image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #aaa;
        margin-top: 25px;
    }

    .section-gradient {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 45px 18px;
    }

    .section-gradient_content {
        margin: 0 auto;
        max-width: 950px;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 16px;
        line-height: 23px;
        padding: 30px 0;
    }

    .section__text_title__image img {
        margin: 20px 0px 15px 0px;
    }
    
    .section__text_title__image {
        font-size: 16px;
    }

    .section__text_title__image img {
        width: 320px;
        margin-bottom: 15px;
    }

    .section__text_title__image figcaption {
        width: calc(100% - 80px);
    }

    .slick-list {
        margin-bottom: 70px !important;
    }

    /* меню */

    .top-menu__button_burger-menu {
        padding: 23px 10px 10px;
    }

    .top-menu__button_burger-menu>div:nth-child(1) {
        margin: 5px 10px;
        width: 25px;
        height: 3px;
    }

    .top-menu__button_burger-menu>div:nth-child(2) {
        margin: 5px 10px;
        width: 25px;
        height: 3px;
    }

    .top-menu__button_burger-menu>div:nth-child(3) {
        margin: 5px 10px;
        width: 25px;
        height: 3px;
    }

    .top-menu__list_menu {
        position: fixed;
        background: linear-gradient(to bottom, #fff 100px, #ffffff00);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        margin: 0;
        opacity: 0;
        transition: .5s;
        z-index: 9;
    }

    .top-menu__list_menu li {
        padding: 15px 5px;
        text-align: center;
    }

    .top-menu__list_menu a {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #000000;
    }

    /*  */

    .top-menu__button_call,
    .flat-elements-bottom,
    .slick-next,
    .slick-prev {
        display: none !important;
    }

}

@media (max-width: 800px) {
    /* footer */

    .block-info__copy {
        font-size: 13px;
        padding: 20px 0;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0px 20px 50px 20px;
    }

    .block-info div {
        display: inline-block;
        width: 100%;
        min-height: 100px;
    }

    .block-info nav {
        min-height: 100px;
        margin: 35px 0 15px 0;
    }

    .block-info nav ul li a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        line-height: 35px;
    }

    .block-info nav ul li a:hover {
        text-decoration: underline;
    }

    .block-info div a {
        color: #97a2b9;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        line-height: 45px;
    }

    .block-info div a:hover {
        text-decoration: underline;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        width: 100%;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 19px 20px;
        border: none;
        outline: 0px solid #fb4c18;
        cursor: pointer;
        margin: 25px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }
}

@media (max-width: 1023px) and (min-width: 800px) {
    /* footer */
    
    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .block-info div {
        display: inline-block;
        width: 285px;
        min-height: 100px;
        margin: 87px 0;
    }

    .block-info nav {
        display: inline-block;
        width: 18%;
        padding-left: 40px;
        min-height: 100px;
        margin: 70px 0;
    }

    .block-info nav ul li a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-decoration: none;
        line-height: 34px;
    }

    .block-info nav ul li a:hover {
        text-decoration: underline;
    }

    .block-info div a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }

    .block-info div a:hover {
        text-decoration: underline;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 55px;
        border: none;
        outline: 1px solid #fb4c18;
        cursor: pointer;
        margin: 0 0 30px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }

    .block-info__button_transparent:hover {
        color: #fb4c18;
    }
}

@media (max-width: 599px) {
    .header-title_content {
        padding-left: 0;
        padding-top: 390px;
        text-align: center;
    }
    
    .header-title_background picture {
        position: absolute;
        left: calc(50% + 20px);
        transform: translateX(-50%);
        bottom: -5px;
        overflow: hidden;
    }

    .header-title_background {
        position: absolute;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        overflow: hidden;
        min-width: 320px;
        height: 400px;
    }

    .header-title_background svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 260px;
        margin-top: 30px;
    }

    picture img {
        width: 300px;
        height: 350px;
    }
}

@media (max-width: 949px) and (min-width: 600px) {
    .header-title_content {
        padding-left: 0;
        padding-top: 700px;
        text-align: center;
    }

    .header-title_background picture {
        position: absolute;
        left: calc(50% + 20px);
        transform: translateX(-50%);
        bottom: -10px;
        overflow: hidden;
    }

    .header-title_background {
        position: absolute;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        max-width: 1920px;
        overflow: hidden;
        height: 660px;
    }

    .header-title_background svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 260px;
        margin-top: 30px;
    }
}

@media (max-width: 1023px) and (min-width: 950px) {
    .header-title_background picture {
        position: absolute;
        right: 0;
        width: 50%;
        overflow: hidden;
        bottom: -20px;
    }

    .header-title_background {
        position: absolute;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        max-width: 1920px;
        overflow: hidden;
        height: 655px;
    }

    .header-title_background svg {
        position: absolute;
        float: right;
        width: 55%;
        height: 570px;
        right: 0;
        bottom: 0;
    }

    .header-title_content {
        padding-left: 30px;
        padding-top: 200px;
        padding-bottom: 230px;
    }
}


@media (max-width: 600px) {
    /* анимации тегов */

    .flat-elements-top span:nth-child(1) { transform: translate(-120px, 50px) rotate(30deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { transform: translate(-140px, 170px) rotate(-20deg); font-size: 30px; }
    .flat-elements-top span:nth-child(3) { transform: translate(-50px, 20px) rotate(-10deg); font-size: 20px; }
    .flat-elements-top span:nth-child(4) { transform: translate(40px, 50px) rotate(30deg); font-size: 30px; }
    .flat-elements-top span:nth-child(5) { transform: translate(30px, 200px) rotate(-20deg); font-size: 20px; }
}

@media (max-width: 950px) and (min-width: 600px) {
    /* анимации тегов */

    .flat-elements-top span:nth-child(1) { transform: translate(-250px, 50px) rotate(30deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { transform: translate(-270px, 500px) rotate(20deg); font-size: 50px; }
    .flat-elements-top span:nth-child(3) { transform: translate(-100px, 450px) rotate(-20deg); font-size: 30px; }
    .flat-elements-top span:nth-child(4) { transform: translate(-50px, 90px) rotate(-30deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { transform: translate(180px, 0px) rotate(20deg); font-size: 30px; }

    .flat-elements-bottom span:nth-child(1) { transform: translate(-400px, 420px) rotate(150deg); font-size: 25px; }
    .flat-elements-bottom span:nth-child(2) { display: none; }
    .flat-elements-bottom span:nth-child(3) { transform: translate(250px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { display: none; }
}


@media (max-width: 1023px) and (min-width: 950px) {
    /* анимации тегов */

    .flat-elements-top span:nth-child(1) { transform: translate(-350px, 50px) rotate(30deg); font-size: 50px; }
    .flat-elements-top span:nth-child(2) { transform: translate(-350px, 500px) rotate(20deg); font-size: 50px; }
    .flat-elements-top span:nth-child(3) { transform: translate(-100px, 450px) rotate(-20deg); font-size: 30px; }
    .flat-elements-top span:nth-child(4) { transform: translate(-50px, 90px) rotate(-30deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { transform: translate(230px, 0px) rotate(20deg); font-size: 30px; }

    .flat-elements-bottom span:nth-child(1) { transform: translate(-420px, 40px) rotate(150deg); font-size: 25px; }
    .flat-elements-bottom span:nth-child(2) { transform: translate(300px, 220px) rotate(20deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(3) { transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { transform: translate(-530px, 285px) rotate(-20deg); font-size: 40px; }
}

@media (max-width: 1023px) and (min-width: 600px) {
    /* header */

    .top-menu__button_call {
        padding: 12px 35px;
        margin-right: 15px;
    }

    .top-menu {
        padding: 30px 0;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 55px;
        margin: 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-size: 25px;
    }

    .top-menu__link_tel {
        padding: 7px 29px;
        font-family: "Roboto", sans-serif;
        font-size: 23px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .top-menu__list_menu {
        display: inline-block;
    }

    .top-menu__list_menu li {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        margin: 0 14px;
        padding-bottom: 5px;
        color: #333;
    }

    .top-menu__list_menu li a:hover {
        color: #fe2e98;
    }

    .header-title__span_description-title {
        margin: 18px 0 33px 0;
    }

    /* footer */

    .block-info__copy {
        font-size: 16px;
        padding: 30px 0;
    }

    /* секции */

    .header-title__button_solid {
        font-size: 18px;
        padding: 22px 96px;
    }

    .section__button_solid {
        font-size: 18px;
        padding: 22px 96px;
    }

    .section-gradient_content {
        margin: 0 auto;
        max-width: 94% !important;
    }

    .section__slider_container {
        display: inline-block;
        width: max-content;
        height: 450px;
    }

    .section__text_title {
        font-size: 54px;
        margin: 0;
    }

    .section-gradient__text {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        color: #fff;
        margin: 0 0 40px 0;
    }

    .section_container {
        padding: 85px 0 100px 0;
        text-align: center;
    }

    .fixed-container {
        max-width: 95%;
        margin: 0px auto;
    }

    .examples {
        padding-top: 95px;
    }

    .section-gradient {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 80px 0;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
        line-height: 30px;
    }

    .section__block_dolist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 670px;
        margin: 35px auto;
    }

    .section_block__dolist-image {
        width: 257px;
        padding: 0;
        margin: 40px 9px;
        display: inline-block;
    }

    .section_block__dolist-image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #aaa;
        margin-top: 30px;
    }

    .section__text_title__image img {
        margin: 20px 0px 15px 0px;
    }

    .section__text_title__image {
        margin: 80px 10px 50px 10px;
        font-size: 25px;
    }



    .slick-list {
        margin-bottom: 155px !important;
    }

    /* меню */

    .top-menu__button_call_m {
        display: none !important;
    }

    .top-menu__list_menu {
        position: fixed;
        background: linear-gradient(to bottom, #ffffff 50px, #ffffff00);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding-top: 30px;
        margin: 0;
        opacity: 0;
        transition: .5s;
        z-index: 9;
    }

    .top-menu__list_menu li {
        margin-top: 20px;
        text-align: center;
    }

    .top-menu__list_menu a {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #000000;
    }

    /* переключатели слайдера */

    .slick-dots li {
        margin: 0 10px !important;
    }

    .slick-dots {
        bottom: -70px !important;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

}

@media (max-width: 1330px) and (min-width: 1024px) {
    /* header */

    .top-menu__button_call {
        padding: 12px 42px;
    }

    .top-menu__list_menu li:hover a {
        color: #f12fa0;
    }

    .top-menu__button_burger-menu {
        display: none;
    }

    .top-menu {
        padding: 25px 0;
    }

    .header-title_background picture {
        position: absolute;
        right: 0;
        width: 43%;
        bottom: -10px;
        overflow: hidden;
    }

    .header-title_background {
        position: absolute;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        max-width: 1920px;
        overflow: hidden;
        height: 660px;
    }

    .header-title_background svg {
        float: right;
        width: 52%;
        height: 650px;
        right: 0;
        margin-top: 30px;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 65px;
        margin: 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-size: 25px;
    }

    .top-menu__button_call_m {
        display: none;
    }

    .top-menu__link_tel {
        padding: 8px 28px;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .top-menu__list_menu {
        display: inline-block;
    }

    .top-menu__list_menu li {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        display: inline-block;
        margin: 0 14px;
        padding-bottom: 5px;
        color: #333;
        cursor: pointer;
    }

    .top-menu__list_menu li:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid #fe2e98;
        color: #fe2e98;
        line-height: 10px;
    }

    .header-title__span_description-title {
        margin: 14px 0 33px 0;
    }

    .header-title_content {
        padding-left: 30px;
        padding-top: 180px;
        padding-bottom: 250px;
    }

    /* footer */

    .block-info__copy {
        font-size: 16px;
        padding: 30px 0;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .block-info div {
        display: inline-block;
        width: 280px;
        min-height: 100px;
        margin: 70px 0;
    }

    .block-info nav ul {
        display: inline-block;
        width: 18%;
        padding-left: 20px;
        min-height: 100px;
        margin: 75px 0;
    }

    .block-info nav ul li a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-decoration: none;
        line-height: 34px;
    }

    .block-info nav ul li a:hover {
        text-decoration: underline;
    }

    .block-info div a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }

    .block-info div a:hover {
        text-decoration: underline;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 55px;
        border: none;
        outline: 1px solid #fb4c18;
        cursor: pointer;
        margin: 0 0 30px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }

    .block-info__button_transparent:hover {
        color: #fb4c18;
    }

    /* секции */

    .header-title__button_solid {
        font-size: 18px;
        padding: 18px 72px;
    }

    .section__button_solid {
        font-size: 18px;
        padding: 18px 72px;
    }

    .section-gradient_content {
        margin: 0 auto;
        max-width: 85% !important;
    }

    .section__slider_container {
        display: inline-block;
        width: max-content;
        height: 450px;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 54px;
        margin: 0;
    }

    .section-gradient__text {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        color: #fff;
        margin: 0 0 40px 0;
    }

    .section_container {
        padding: 92px 0 100px 0;
        text-align: center;
    }

    .fixed-container {
        max-width: 95%;
        margin: 0px auto;
    }

    .section-gradient {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 80px 0;
    }

    .section__block_dolist {
        display: flex;
        justify-content: space-between;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
        line-height: 30px;
    }

    .section_block__dolist-image {
        width: 257px;
        padding: 0;
        margin: 80px 10px;
        display: inline-block;
    }

    .section_block__dolist-image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #aaa;
        margin-top: 30px;
    }

    .section__text_title__image img {
        width: 100%;
        margin: 20px 0px;
    }

    .section__text_title__image {
        margin: 80px 10px 50px 10px;
        font-size: 20px;
        max-width: 390px;
    }

    /* переключатели слайдера */

    .slick-prev {
        margin-top: 10px;
        left: 0 !important;
    }

    .slick-next {
        transform: rotateZ(180deg) !important;
        margin-top: 0px;
        right: 0 !important;
    }

    .slick-dots {
        display: none !important;
    }

    /* анимации тегов */

    .flat-elements-top span:nth-child(1) { transform: translate(-450px, 50px) rotate(30deg); font-size: 50px; }
    .flat-elements-top span:nth-child(2) { transform: translate(-450px, 500px) rotate(20deg); font-size: 50px; }
    .flat-elements-top span:nth-child(3) { transform: translate(-100px, 450px) rotate(-20deg); font-size: 30px; }
    .flat-elements-top span:nth-child(4) { transform: translate(-50px, 90px) rotate(-30deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { transform: translate(400px, 0px) rotate(20deg); font-size: 30px; }

    .flat-elements-bottom span:nth-child(1) { transform: translate(-420px, 40px) rotate(150deg); font-size: 25px; }
    .flat-elements-bottom span:nth-child(2) { transform: translate(330px, 300px) rotate(-10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(3) { transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { transform: translate(-530px, 285px) rotate(-20deg); font-size: 40px; }


}

@media (min-width: 1330px) {
    /* header */

    .top-menu__button_call {
        padding: 12px 35px;
        margin-right: 15px;
        margin-top: 2px;
    }

    .top-menu__list_menu li:hover a {
        color: #f12fa0;
    }

    .header-title__span_description-title {
        font-size: 25px;
    }

    .top-menu__button_burger-menu {
        display: none;
    }

    .top-menu {
        padding: 25px 0;
    }

    .header-title_background picture {
        position: absolute;
        right: 0;
        width: 40%;
        bottom: -10px;
        overflow: hidden;
    }

    .header-title_background {
        position: absolute;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        max-width: 1920px;
        overflow: hidden;
        height: 660px;
    }

    .header-title_background svg {
        position: absolute;
        width: 43%;
        height: 650px;
        right: 0;
        bottom: 0;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 75px;
        margin: 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-size: 25px;
    }

    .top-menu__button_call_m {
        display: none;
    }

    .top-menu__link_tel {
        padding: 8px 28px;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
        margin-top: 3px;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .top-menu__list_menu {
        display: inline-block;
    }

    .top-menu__list_menu li {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        display: inline-block;
        margin: 0 14px;
        padding-bottom: 5px;
        color: #333;
        cursor: pointer;
    }

    .top-menu__list_menu li:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid #fe2e98;
        color: #fe2e98;
        line-height: 10px;
    }

    .header-title__span_description-title {
        margin: 17px 0 32px 0;
    }

    .header-title_content {
        padding-left: 30px;
        padding-top: 180px;
        padding-bottom: 250px;
    }

    /* footer */

    .block-info__copy {
        font-size: 16px;
        padding: 30px 0;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .block-info div {
        display: inline-block;
        width: 280px;
        min-height: 100px;
        margin: 70px 0;
    }

    .block-info nav ul {
        display: inline-block;
        width: 18%;
        padding-left: 20px;
        min-height: 100px;
        margin: 73px 0;
        padding-right: 140px;
    }

    .block-info nav ul li a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-decoration: none;
        line-height: 34px;
    }

    .block-info nav ul li a:hover {
        text-decoration: underline;
    }

    .block-info div a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }

    .block-info div a:hover {
        text-decoration: underline;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 55px;
        border: none;
        outline: 1px solid #fb4c18;
        cursor: pointer;
        margin: 0 0 30px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }

    .block-info__button_transparent:hover {
        color: #fb4c18;
    }

    /* секции */

    .header-title__button_solid {
        font-size: 18px;
        padding: 18px 72px;
    }

    .section__button_solid {
        font-size: 18px;
        padding: 18px 72px;
        margin-bottom: 10px;
    }

    .section__slider_container {
        display: inline-block;
        width: max-content;
        height: 450px;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 54px;
        margin: 0;
    }

    .section-gradient__text {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        color: #fff;
        margin: 0 0 40px 0;
    }

    .section_container {
        padding: 75px 0 100px 0;
        text-align: center;
    }

    .fixed-container {
        max-width: 1200px;
        margin: 0px auto;
    }

    .section-gradient {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 80px 0;
    }

    .section-gradient_content {
        margin: 0 auto;
        max-width: 950px;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
        line-height: 30px;
    }

    .section__block_dolist {
        display: flex;
        justify-content: space-between;
    }

    .section_block__dolist-image {
        width: 257px;
        padding: 0;
        margin: 80px 10px;
        display: inline-block;
    }

    .section_block__dolist-image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #aaa;
        margin-top: 25px;
    }

    .section__text_title__image img {
        width: 100%;
        margin: 20px 0px;
    }

    .section__text_title__image {
        margin: 80px 10px 50px 10px;
        font-size: 20px;
        max-width: 390px;
    }

    /* переключатели слайдера */

    .slick-prev {
        margin-top: 10px;
        z-index: 1;
    }

    .slick-next {
        margin-top: 0px;
        transform: rotateZ(180deg) !important;
    }

    .slick-dots {
        display: none !important;
    }

    /* анимации тегов */

    .flat-elements-top span:nth-child(1) { transform: translate(-750px, 50px) rotate(40deg); font-size: 40px; }
    .flat-elements-top span:nth-child(2) { transform: translate(-650px, 250px) rotate(20deg); font-size: 50px; }
    .flat-elements-top span:nth-child(3) { transform: translate(-550px, 500px) rotate(-20deg); font-size: 35px; }
    .flat-elements-top span:nth-child(4) { transform: translate(-50px, 400px) rotate(20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { transform: translate(50px, 50px) rotate(-20deg); font-size: 30px; }

    .flat-elements-bottom span:nth-child(1) { transform: translate(-700px, 132px) rotate(30deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(2) { transform: translate(500px, 300px) rotate(-10deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(3) { transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { transform: translate(-550px, 245px) rotate(-20deg); font-size: 40px; }

}

/* запретить выделение тегов */

.flat-elements-top {
    user-select: none;
}

.flat-elements-bottom {
    user-select: none;
}
