/* roboto-100 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-100italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-100italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-300italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-500italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-700italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900italic - latin_latin-ext_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin_latin-ext_cyrillic-ext_cyrillic-900italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@import "./header.scss";
@import "./modal.scss";
@import "./footer.scss";

$bgDesctop: "../img/bg+Человек+фигура.jpg1";
$bgMobile: "../img/bg+Человек+фигура(2).jpg";
$slickArrow: "../img/arrow.png";

html,
body {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    overflow: overlay;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.center {
    text-align: center;
}

.block-info__copy {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #eeeeee;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), rgb(58, 48, 82));
    padding: 20px 0;
}

area {
    outline: none;
}

.fas {
    color: #f12fa0;
}

.top-menu__list_menu a {
    color: #333;
    text-decoration: none;
}

.top-menu__list_menu a:hover {
    color: #333;
}

.btns-slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.section-gradient__span_description-title::before {
    content: "*";
    position: relative;
    float: left;
    width: 15px;
    height: 100px;
}

.input {
    width: calc(100% - 30px);
    color: #000;
    background: #f5f5f5;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
}

p {
    margin: 0;
    font-family: sans-serif;
}

#burger-menu {
    cursor: pointer;
}

.show-mobile-menu {
    position: absolute;
    padding: 0px;
    height: 80vh !important;
    opacity: 1 !important;
}

.section__slider {
    max-width: 1200px;
    margin: 0 auto;
}

.slick-dots li.slick-active button:before {
    color: #fb4b18 !important;
}

.slick-dots li button:before {
    font-size: 18px !important;
}

.flat-elements-top span {
    transition: 1s;
    cursor: default;
}

.flat-elements-top span:hover {
    opacity: .3;
}

@media (max-width: 800px) {
    header {
        background-image: url($bgMobile);
        background-repeat: no-repeat;
        background-position: calc(50% - 250px) 0px;
        background-size: cover;
        background-color: #fbfbfb;
        height: 450px;
        margin-top: 0;
        margin-bottom: 250px;
    }

    .fixed-container {
        margin: 0 20px;
    }

    header div {
        position: relative;
        top: 105%;
        text-align: center;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 30px;
        margin: 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #aaa;
    }

    .section-gradient__text {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
        margin: 0 0 30px 0;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 16px;
        padding: 30px 0;
        line-height: 30px;
    }

    .header-title__button_solid {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 18px 68px;
        border: none;
        outline: 0px solid #fb4c18;
        text-decoration: none;
        cursor: pointer;
    }
    
    .header-title__button_solid:focus {
        outline: 4px solid #ec6331;
    }
    
    .header-title__button_solid:hover {
        color: #fff;
    }
    
    .button-transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 5vw;
        color: #ec6331;
        background-color: #ffffff;
        padding: 20px 67px;
        border: none;
        outline: 2px solid #fb4c18;
        cursor: pointer;
    }

    .button-transparent:focus {
        outline: 4px solid #ec6331;
    }
    
    .button-transparent:hover {
        color: #fff;
    }

    section:nth-child(4) {
        height: auto;
        background-image: linear-gradient(12deg, #ff7442, #fe2e98);
        padding: 50px 0;
    }

    .top-menu__button_call {
        display: none;
    }

    .top-menu__link_tel {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        left: 50%;
        transform: translateX(-50%);
        top: 25px;      
    }

    .social {
        margin: 25px 0 0 0;
    }

    .block-info div:nth-child(1) a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-decoration: none;
        line-height: 40px;
    }
    .block-info div:nth-child(1) a:hover {
        text-decoration: underline;
    }

    .block-info div:nth-child(2) a {
        color: #999;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        line-height: 54px;
    }
    .block-info div:nth-child(2) a:hover {
        text-decoration: underline;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0px 20px 50px 20px;
    }
    
    .block-info > div {
        display: inline-block;
        width: 100%;
        min-height: 100px;
        margin: 30px 0 0px 0;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        width: 100%;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 19px 20px;
        border: none;
        outline: 0px solid #fb4c18;
        cursor: pointer;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }

    section {
        padding: 40px 20px;
        text-align: center;
        overflow: hidden;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .top-menu__list_menu {
        position: fixed;
        background: linear-gradient(to bottom, #fff 100px, #ffffff00);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0;
        opacity: 0;
        transition: .5s;
        z-index: 9;
    }

    .top-menu__list_menu li {
        padding: 15px 5px;
        text-align: center;
    }

    .top-menu__list_menu a {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #000000;
    }

    .top-menu__button_burger-menu {
        display: inline-table;
        position: absolute;
        top: 24px;
        width: 25px;
        height: 25px;
    }

    .top-menu__button_burger-menu>div:nth-child(1) {
        width: 25px;
        height: 3px;
        background-image: linear-gradient(60deg, #ff1d80, #ff0078);
    }

    .top-menu__button_burger-menu>div:nth-child(2) {
        margin: 4px 0;
        width: 25px;
        height: 3px;
        background-image: linear-gradient(60deg, #ff751d, #ff0078);
    }

    .top-menu__button_burger-menu>div:nth-child(3) {
        margin: 4px 0;
        width: 25px;
        height: 3px;
        background-image: linear-gradient(60deg, #ff751d, rgb(255, 118, 38));
    }

    .top-menu__button_call_m {
        position: absolute;
        right: 25px;
        top: 23px;
    }

    .section__block_dolist_dolist-left, .section__block_dolist_dolist-right {
        display: inline-block;
        width: 100%;
    }

    .section__block_dolist {
        margin: 50px 0;
    }

    .section__block_dolist_dolist-left_image figcaption, .section__block_dolist_dolist-right_image figcaption {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #aaa;

        margin: 20px auto;
        max-width: 200px;
    }

    .section__text_title__image {
        display: inline-block;
        width: 45%;
        max-width: 290px;
        margin: 65px 10px 50px 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #aaa;
    }

    .section__text_title__image img {
        width: 290px;
    }

    .flat-elements-top {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #e745a4;
        left: calc(40% - 200px);
        transition: 1s;
        /* pointer-events: none; */
    }

    .flat-elements-top span:nth-child(1) { position: absolute; transform: translate(36px, -568px) rotate(-10deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { position: absolute; transform: translate(342px, -668px) rotate(15deg); font-size: 20px; }
    .flat-elements-top span:nth-child(3) { position: absolute; transform: translate(236px, -676px) rotate(52deg); font-size: 30px; }
    .flat-elements-top span:nth-child(4) { position: absolute; transform: translate(-131px, 226px) rotate(20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { position: absolute; transform: translate(-95px, -176px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(6) { position: absolute; transform: translate(80px, -375px) rotate(-20deg); font-size: 40px; }

    .flat-elements-bottom, .slick-prev, .slick-next {
        display: none !important;
    }

    .slick-list {
        margin-bottom: 80px !important;
    }

    .show-mobile-menu {
        padding: 20px 0px;
    }
}

@media (max-width: 1041px) and (min-width: 800px) {
    header {
        background-image: url($bgMobile);
        background-repeat: no-repeat;
        background-position: calc(100% + 260px) 0px;
        background-size: auto;
        background-color: #fbfbfb;
        min-height: 600px;
        max-height: 700px;
        height: 100vw;
        padding: 30px 0 55px 0;
    }

    header .header-title {
        position: relative;
        top: 60%;
        transform: translateY(-50%);
    }

    header .flat-elements-top {
        top: 150px;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 5.3vw;
        margin: 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        color: #aaa;
    }

    .section-gradient__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 45px;
        color: #fff;
        margin: 0 0 40px 0;
    }

    .fixed-container, section {
        padding: 0 30px;
    }

    header .header-title {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        float: left;
    }

    section:nth-child(4) .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 54px;
        margin: 0;
    }
    
    .header-title__button_solid {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 18px 68px;
        border: none;
        outline: 0px solid #fb4c18;
        text-decoration: none;
        cursor: pointer;
    }
    
    .header-title__button_solid:focus {
        outline: 4px solid #ec6331;
    }
    
    .header-title__button_solid:hover {
        color: #fff;
    }
    
    .top-menu__button_call {
        float: right;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.0em;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 42px;
        border: none;
        outline: 1px solid #fb4c18;
        margin: 0 0 25px 0;
    }

    .top-menu__button_call:focus {
        outline: 4px solid #ec6331;
    }
    
    .top-menu__button_call:hover {
        color: #fb4c18;
    }

    section:nth-child(4) {
        background-color: #fbfbfb;
        max-width: none;
    }

    section:nth-child(4) {
        height: auto;
        background-image: linear-gradient(12deg, #ff7442, #fe2e98);
        max-width: none;
        padding: 80px 0;
    }

    .block-info div:nth-child(1) a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        text-decoration: none;
        line-height: 40px;
    }
    .block-info div:nth-child(1) a:hover {
        text-decoration: underline;
    }

    .block-info div:nth-child(2) a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }
    .block-info div:nth-child(2) a:hover {
        text-decoration: underline;
    }

    header {
        padding: 30px 0 55px 0;
    }

    section {
        padding: 100px 0 100px 0;
        text-align: center;
    }

    .social {
        margin: 25px 0 0 0;
    }

    .top-menu__link_tel {
        padding: 8px 33px;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }
    
    .block-info > div {
        display: inline-block;
        width: 30%;
        min-height: 100px;
        margin: 70px 0;
    }

    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 32px;
        border: none;
        outline: 1px solid #fb4c18;
        cursor: pointer;
        margin: 0 0 25px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }
    
    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
    }

    .top-menu__button_call_m, .slick-prev, .slick-next {
        display: none !important;
    }

    .top-menu__list_menu {
        position: fixed;
        background: linear-gradient(to bottom, #fff 120px, #ffffff00);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0;
        opacity: 0;
        transition: .5s;
        z-index: 9;
    }

    .top-menu__list_menu li {
        padding: 15px 5px;
        text-align: center;
    }

    .top-menu__list_menu a {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #000000;
    }

    .top-menu__button_burger-menu {
        position: absolute;
        background: none;
        display: inline-block;
        width: 55px;
        height: 40px;
    }

    .top-menu__button_burger-menu>div:nth-child(1) {
        margin: 5px 10px;
        width: 45px;
        height: 5px;
        background-image: linear-gradient(60deg, #ff1d80, #ff0078);
    }

    .top-menu__button_burger-menu>div:nth-child(2) {
        margin: 8px 10px;
        width: 45px;
        height: 5px;
        background-image: linear-gradient(60deg, #ff751d, #ff0078);
    }

    .top-menu__button_burger-menu>div:nth-child(3) {
        margin: 8px 10px;
        width: 45px;
        height: 5px;
        background-image: linear-gradient(60deg, #ff751d, rgb(255, 118, 38));
    }
    .section__block_dolist_dolist-left, .section__block_dolist_dolist-right {
        display: inline-block;
        width: 35%;
    }
    .section__block_dolist_dolist-left_image, .section__block_dolist_dolist-right_image {
        width: 257px;
        padding: 0;
        margin: 80px 17px;
        display: inline-block;
    }

    .section__block_dolist_dolist-left_image figcaption, .section__block_dolist_dolist-right_image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #aaa;
        margin: 30px 0 0 0;
    }

    .section__text_title__image img {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .section__text_title__image {
        display: inline-block;
        width: 45%;
        max-width: 390px;
        margin: 100px 10px 70px  10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #aaa;
    }

    .flat-elements-top {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #e745a4;
        z-index: -1;
        transition: 1s;
        /* pointer-events: none; */
    }

    .flat-elements-top span:nth-child(1) { position: absolute; transform: translate(36px, 68px) rotate(10deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { position: absolute; transform: translate(-89px, -268px) rotate(15deg); font-size: 40px; }
    .flat-elements-top span:nth-child(3) { position: absolute; transform: translate(236px, 105px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(4) { position: absolute; transform: translate(-131px, 226px) rotate(20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { position: absolute; transform: translate(-95px, -176px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(6) { position: absolute; transform: translate(80px, -375px) rotate(-20deg); font-size: 40px; }

    .flat-elements-bottom {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #ffffff;
        transition: 1s;
        pointer-events: none;
    }

    .flat-elements-bottom span:nth-child(1) { position: absolute; transform: translate(936px, -205px) rotate(30deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(2) { position: absolute; transform: translate(436px, -246px) rotate(-10deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(3) { position: absolute; transform: translate(396px, 5px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { position: absolute; transform: translate(27px, -245px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(5) { position: absolute; transform: translate(-95px, -76px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(6) { position: absolute; transform: translate(-236px, -205px) rotate(-20deg); font-size: 40px; }

    .flat-elements-bottom {
        position: absolute;
        margin-top: -100px;
        width: 100%;
        height: 400px;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #ffffff;
        transition: 1s;
        pointer-events: none;
    }

    .flat-elements-bottom span:nth-child(1) { position: absolute; transform: translate(1039px, 232px) rotate(30deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(2) { position: absolute; transform: translate(436px, 326px) rotate(-10deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(3) { position: absolute; transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { position: absolute; transform: translate(14px, 302px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(5) { position: absolute; transform: translate(-95px, 76px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(6) { position: absolute; transform: translate(-236px, 205px) rotate(-20deg); font-size: 40px; }

    .slick-list {
        margin-bottom: 80px !important;
    }
}

@media (max-width: 1330px) and (min-width: 1042px) {
    header {
        background-image: url("../img/bg+Человек+фигура.png");
    }

    .top-menu__button_burger-menu {
        display: none;
    }

    .slick-prev {
        margin-top: -14px;
        z-index: 1;
    }

    .slick-next {
        margin-top: -14px;
        transform: rotateZ(180deg) !important;
    }

    .slick-prev::before {
        z-index: 1;
        padding: 20px !important;
        color: transparent !important;
        background: url($slickArrow) !important;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }

    .slick-next::before {
        transform: rotateZ(180deg) !important;
        padding: 20px !important;
        color: transparent !important;
        background: url($slickArrow) !important;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }

    .btns-slider {
        display: none;
    }

    header {
        background-repeat: no-repeat;
        background-position: calc(100% + 270px) 0px;
        background-size: auto;
        background-color: #fbfbfb;
        min-height: 600px;
        max-height: 700px;
        height: 685px;
        padding: 30px 0 55px 0;
    }

    .fixed-container, section {
        max-width: 1200px;
        margin: -2px auto;
        padding: 0px 3%;
    }

    header .header-title {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }
    
    header .flat-elements-top {
        top: 90px;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 5.5vw;
        margin: 50px 0 0 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #aaa;
    }

    section:nth-child(4) .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 54px;
        margin: 0;
    }

    .section-gradient__text {
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        color:#fff;
        margin: 0 0 40px 0;
    }
    
    .header-title__button_solid {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 18px 68px;
        border: none;
        outline: 0px solid #fb4c18;
        text-decoration: none;
        cursor: pointer;
    }
    
    .header-title__button_solid:focus {
        outline: 4px solid #ec6331;
    }
    
    .header-title__button_solid:hover {
        color: #fff;
    }
    
    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 55px;
        border: none;
        outline: 1px solid #fb4c18;
        margin: 0 0 25px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }
    
    .block-info__button_transparent:hover {
        color: #fb4c18;
    }

    .top-menu__button_call {
        float: right;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 35px;
        border: none;
        outline: 1px solid #fb4c18;
        margin: 0 0 25px 0;
    }

    .top-menu__button_call:focus {
        outline: 4px solid #ec6331;
    }
    
    .top-menu__button_call:hover {
        color: #fb4c18;
    }

    section:nth-child(3) {
        background-color: #fbfbfb;
        max-width: none;
    }

    section:nth-child(4) {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 80px 0;
    }

    .block-info div:nth-child(1) a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-decoration: none;
        line-height: 40px;
    }
    .block-info div:nth-child(1) a:hover {
        text-decoration: underline;
    }

    .block-info div:nth-child(2) a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }
    .block-info div:nth-child(2) a:hover {
        text-decoration: underline;
    }

    section {
        padding: 100px 0 100px 0;
        text-align: center;
        overflow: hidden;
    }

    .top-menu__link_tel {
        padding: 8px 33px;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .block-info > div {
        display: inline-block;
        width: 25%;
        min-height: 100px;
        margin: 70px 0;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
        line-height: 30px;
    }

    .top-menu__button_call_m {
        display: none;
    }

    .top-menu__list_menu {
        display: inline-block;
        padding: 0;
        margin-left: -11px;
    }

    .top-menu__list_menu li {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        display: inline-block;
        margin: 0 15px;
        padding-bottom: 5px;
        cursor: pointer;
        color: #333;
    }

    .top-menu__list_menu li:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid #fe2e98;
        color: #fe2e98;
        line-height: 10px;
    }

    .section__block_dolist_dolist-left, .section__block_dolist_dolist-right {
        display: inline-block;
        width: 35%;
    }
    .section__block_dolist_dolist-left_image, .section__block_dolist_dolist-right_image {
        width: 257px;
        padding: 0;
        margin: 80px 17px;
        display: inline-block;
    }

    .section__block_dolist_dolist-left_image figcaption, .section__block_dolist_dolist-right_image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #aaa;
        margin: 30px 0 0 0;
    }

    .section__text_title__image img {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .section__text_title__image {
        display: inline-block;
        width: 45%;
        max-width: 390px;
        margin: 100px 10px 70px 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #aaa;
    }

    .flat-elements-top {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #e745a4;
        z-index: -1;
        transition: 1s;
        /* pointer-events: none; */
    }

    .flat-elements-top span:nth-child(1) { position: absolute; transform: translate(36px, 205px) rotate(10deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { position: absolute; transform: translate(436px, -205px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(3) { position: absolute; transform: translate(236px, 205px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(4) { position: absolute; transform: translate(-131px, 226px) rotate(20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { position: absolute; transform: translate(-95px, -176px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(6) { position: absolute; transform: translate(236px, -205px) rotate(-20deg); font-size: 40px; }

    .flat-elements-bottom {
        position: absolute;
        /* left: 50%;
        transform:translateX(-50%); */
        margin-top: -100px;
        width: 100%;
        height: 400px;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #ffffff;
        transition: 1s;
        pointer-events: none;
    }

    .flat-elements-bottom span:nth-child(1) { position: absolute; right: 30px; transform: translate(-7px, 132px) rotate(30deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(2) { position: absolute; transform: translate(436px, 326px) rotate(-10deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(3) { position: absolute; transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { position: absolute; transform: translate(27px, 245px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(5) { position: absolute; transform: translate(-95px, 76px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(6) { position: absolute; transform: translate(-236px, 205px) rotate(-20deg); font-size: 40px; }
    
    .slick-dots {
        display: none !important;
    }

    .slick-next {
        right: 0 !important;
    }
    .slick-prev {
        left: 0 !important;
    }
}

@media (min-width: 1330px) {
    header {
        background-image: url("../img/bg+Человек+фигура.png");
    }

    .top-menu__button_burger-menu {
        display: none;
    }


    header {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
        background-color: #fbfbfb;
        min-height: 600px;
        max-height: 700px;
        height: 685px;
        padding: 30px 0 55px 0;
    }

    .fixed-container, section {
        max-width: 1200px;
        margin: -2px auto;
        padding: 0px 9%;
    }

    header .header-title {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    header .flat-elements-top {
        top: 90px;
    }

    .header-title__text {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 80px;
        margin: 50px 0 0 0;
        color: #333;
    }

    .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #aaa;
    }

    section:nth-child(4) .header-title__span_description-title {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .section__text_title {
        font-family: "Roboto", sans-serif;
        font-size: 54px;
        margin: 0;
    }

    .section-gradient__text {
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        color:#fff;
        margin: 0 0 40px 0;
    }
    
    .header-title__button_solid {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #eee;
        background-color: #fb4c18;
        padding: 18px 68px;
        border: none;
        outline: 0px solid #fb4c18;
        text-decoration: none;
        cursor: pointer;
    }
    
    .header-title__button_solid:focus {
        outline: 4px solid #ec6331;
    }
    
    .header-title__button_solid:hover {
        color: #fff;
    }
    
    .block-info__button_transparent {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 55px;
        border: none;
        outline: 1px solid #fb4c18;
        cursor: pointer;
        margin: 0 0 25px 0;
    }

    .block-info__button_transparent:focus {
        outline: 4px solid #ec6331;
    }
    
    .block-info__button_transparent:hover {
        color: #fb4c18;
    }

    .top-menu__button_call {
        float: right;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fb4c18;
        background-color: #ffffff;
        padding: 12px 35px;
        border: none;
        outline: 1px solid #fb4c18;
        margin: 0 0 25px 0;
    }

    .top-menu__button_call:focus {
        outline: 4px solid #ec6331;
    }
    
    .top-menu__button_call:hover {
        color: #fb4c18;
    }

    section:nth-child(3) {
        background-color: #fbfbfb;
        max-width: none;
    }

    section:nth-child(4) {
        height: auto;
        background-image: linear-gradient(12deg, #ff7b4c 200px, #fe2e98 500px);
        max-width: none;
        padding: 80px 0;
    }

    .block-info div:nth-child(1) a {
        color: #aaa;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-decoration: none;
        line-height: 40px;
    }
    .block-info div:nth-child(1) a:hover {
        text-decoration: underline;
    }

    .block-info div:nth-child(2) a {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        line-height: 54px;
    }
    .block-info div:nth-child(2) a:hover {
        text-decoration: underline;
    }

    section {
        padding: 100px 0 100px 0;
        text-align: center;
    }

    .slick-prev {
        margin-top: -14px;
        z-index: 1;
    }

    .slick-next {
        margin-top: -20px;
        transform: rotateZ(180deg) !important;
    }
    
    .slick-prev::before {
        z-index: 1;
        padding: 20px !important;
        color: transparent !important;
        background: url($slickArrow) !important;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }

    .slick-next::before {
        transform: rotateZ(180deg) !important;
        padding: 20px !important;
        color: transparent !important;
        background: url($slickArrow) !important;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }

    .section__slider_container {
        display: inline-block;
        width: max-content;
        height: 450px;
    }
    
    .btns-slider {
        display: none;
    }

    .top-menu__link_tel {
        padding: 8px 33px;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: right;
    }

    .top-menu__link_tel:hover {
        text-decoration: underline;
    }

    .block-info {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .block-info > div {
        display: inline-block;
        width: 25%;
        min-height: 100px;
        margin: 70px 0;
    }

    .section-gradient__span_description-title {
        font-family: "Roboto", sans-serif;
        color: #efefef;
        font-size: 18px;
        padding: 30px 0;
        line-height: 30px;
    }

    .top-menu__button_call_m {
        display: none;
    }

    .top-menu__list_menu {
        display: inline-block;
        padding: 0;
        margin-left: -11px;
    }

    .top-menu__list_menu li {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        display: inline-block;
        margin: 0 15px;
        padding-bottom: 5px;
        cursor: pointer;
        color: #333;
    }

    .top-menu__list_menu li:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid #fe2e98;
        color: #fe2e98;
        line-height: 10px;
    }

    .section__block_dolist_dolist-left, .section__block_dolist_dolist-right {
        display: inline-block;
        width: 49%;
    }
    .section__block_dolist_dolist-left_image, .section__block_dolist_dolist-right_image {
        width: 257px;
        padding: 0;
        margin: 80px 17px;
        display: inline-block;
    }

    .section__block_dolist_dolist-left_image figcaption, .section__block_dolist_dolist-right_image figcaption {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #aaa;
        margin: 30px 0 0 0;
    }

    .section__text_title__image img {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .section__text_title__image {
        display: inline-block;
        width: 360px;
        max-width: 390px;
        margin: 100px 10px 100px 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #aaa;
    }

    /*  */

    .flat-elements-top {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #e745a4;
        z-index: -1;
        transition: 1s;
        /* pointer-events: none; */
    }

    .flat-elements-top span:nth-child(1) { position: absolute; transform: translate(536px, 205px) rotate(30deg); font-size: 30px; }
    .flat-elements-top span:nth-child(2) { position: absolute; transform: translate(436px, -205px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(3) { position: absolute; transform: translate(236px, 205px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(4) { position: absolute; transform: translate(-131px, 226px) rotate(20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(5) { position: absolute; transform: translate(-95px, -76px) rotate(-20deg); font-size: 40px; }
    .flat-elements-top span:nth-child(6) { position: absolute; transform: translate(-236px, -205px) rotate(-20deg); font-size: 40px; }
    
    
    .flat-elements-bottom {
        position: absolute;
        margin-top: -100px;
        width: 100%;
        height: 400px;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #ffffff;
        transition: 1s;
        pointer-events: none;
    }

    .flat-elements-bottom span:nth-child(1) { position: absolute; right: 80px; transform: translate(-7px, 132px) rotate(30deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(2) { position: absolute; transform: translate(436px, 326px) rotate(-10deg); font-size: 20px; }
    .flat-elements-bottom span:nth-child(3) { position: absolute; transform: translate(396px, 35px) rotate(10deg); font-size: 30px; }
    .flat-elements-bottom span:nth-child(4) { position: absolute; transform: translate(27px, 245px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(5) { position: absolute; transform: translate(-95px, 76px) rotate(-20deg); font-size: 40px; }
    .flat-elements-bottom span:nth-child(6) { position: absolute; transform: translate(-236px, 205px) rotate(-20deg); font-size: 40px; }

    .slick-dots {
        display: none !important;
    }
}